/* Base font for body and paragraphs */
body {
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background: #f6f6f6;
  color: #111;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

/* Buttons */
button {
  font-family: "Roboto", sans-serif;
}
